.saas-banner {
    padding: 50px 0;
    background: #002547;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.3);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.7);
        max-width: 50%;

        span {
            color: #1D92FF;
            font-weight: 700;
        }

        .quote {
            padding: 5px 10px;
            border-top: 0.5px solid #ffffff20;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 50px;
                width: 30px;
                border-left: 0.5px dashed #ffffff7c;
                border-bottom: 0.5px dashed #ffffff7c;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 4%;
                border-top: 5px solid transparent;
                border-right: 10px solid #ffffff7c;
                border-bottom: 5px solid transparent;
            }
        }

        .commerce {
            color: #fefefe;
            text-decoration: underline;
        }

        .buttons {
            display: flex;
            gap: 30px;

            .blue {
                background: #002547;
                border: 1px solid rgba(255, 255, 255, 0.1);
                color: #fefefe;

                &:hover {
                    color: #1D92FF;
                    background: #fefefe;
                }
            }
        }

        .underlined {
            border-bottom: 5px solid #1D92FF;
            max-width: 300px;
            position: relative;
        }

        .underlined:before {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            border-bottom: 5px solid #fefefe;
            width: calc(100% - 55px);
        }
    }

    &__photo {
        max-width: 50%;
    }
}

@media (max-width:1200px) {
    .saas-banner__info {
        max-width: 80%;
    }

    .saas-banner__photo {
        display: none;
    }
}

@media (max-width:768px) {
    .saas-banner__info {
        max-width: 100%;
    }
}

@media (max-width:500px) {
    .saas-banner__info {
        .quote::after {
            left: 7%;
        }
    }
}

@media (max-width:425px) {
    h1 {
        font-size: 45px;
        line-height: 140%;
    }

    .saas-banner {
        padding: 30px 0;

        .container {
            padding: 0 15px;
        }

        .saas-banner__info {
            gap: 5px;

            .buttons {
                flex-wrap: wrap;
                gap: 15px;

                .btn {
                    padding: 20px 70px;
                }
            }
        }
    }
}